OPENROUTER_API_KEY=your_openrouter_api_key_here

SEARCH_SERVICE_URL=http://search_service:8083/api/v1
PRODUCT_SERVICE_URL=http://product_service:8000/api/v1
CART_SERVICE_URL=http://cart_service:8002/cart

PORT=8005

CEREBRAS_API_KEY=
OPENROUTER_MODEL=openai/gpt-oss-120b:free
GEMINI_MODEL=gemini-2.5-flash
GROQ_MODEL=llama-3.3-70b-versatile
CEREBRAS_MODEL=gpt-oss-120b
