JWT_SECRET_KEY=45d5b8c3f912e87ab332c967d3e41b9a102bcdef92a1843ad50982df4312678c
JWT_ALGORITHM=HS256
AUTH_SERVICE_URL=http://auth_service:8001
PRODUCT_SERVICE_URL=http://product_service:8000
CART_SERVICE_URL=http://cart_service:8002
