.bottom-cti-section {
  padding: 0 0 0 0; 
  background-color: transparent;
}

.cti-wrapper {
  background-color: #EAF7F2; 
  border-radius: 24px;      
  padding: 40px 24px;       
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Заголовок */
.cti-title {
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 200; 
  color: #173B33;
  line-height: 31.2px; 
  margin: 0 0 8px 0; 
}

/* Подзаголовок */
.cti-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400; 
  color: #6D8279;
  line-height: 24px; 
  margin: 0 0 24px 0; 
}


.cti-btn {
  width: 197px; 
  height: 44px;
  background-color: #265447;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600; 
  
  transition: background-color 0.2s, transform 0.1s;
}

.cti-btn:hover {
  background-color: #1a3e34; 
}

.cti-btn:active {
  transform: scale(0.98); 
}