DATABASE_URL=postgresql+asyncpg://user:password@host/dbname
REDIS_URL=redis://localhost:6379
SECRET_KEY=9b71d224bd62f3785d96d46ad3ea3d73319bfbc2890caadae2dff72519673ca7
APP_HOST=0.0.0.0
APP_PORT=8001
APP_WORKERS=4
DEBUG=False
LOG_LEVEL=INFO

GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
