.final-cta-section {
  width: 100%;
  padding: 80px 20px;
  background-color: #ffffff;
}

.final-cta-container {
  max-width: 1180px;
  margin: 0 auto; 
  background-color: #173B33; 
  border-radius: 24px; 
  padding: 72px 24px 72px 24px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.final-title {
  font-family: 'Manrope', sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;   
  margin: 0 0 16px 0;
}

.final-desc {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #D1D5DB; 
  line-height: 1.5;
  margin: 0 0 40px 0;
}

.cta-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}


.final-button {
  background-color: #FACC14;
  color: #173B33; 
  font-family: 'Manrope', sans-serif; 
  font-size: 16px;
  font-weight: 600; 
  width: 154px; 
  height: 48px;
  padding: 0; 
  
  border-radius: 10px;
  border: none;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: transform 0.2s, background-color 0.2s;
}

.final-button:hover {
  background-color: #e9ba2e; 
  transform: translateY(-2px); 
}

.final-link {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 146px;
  color: #6FE3C2;
  text-decoration: none;
  transition: color 0.2s;
}

.final-link:hover {
  color: #ffffff;
  text-decoration: underline;
}